@charset "utf-8";      /*한글 깨짐 방지*/

/* 메인컨텐츠 */
@import url(./common.css);
@import url(./reset.css);

@mixin res($device){
    @if ($device == 'mobile') {
        @media (max-width: 767px) {
            @content;
        }       
    
    } @else {
        @media (min-width: 768px) and (max-width: 1024px) {
            @content;
        }
    }
}


@include res('tablet') {
    body{background-color: blue;}
}

/* main--------------------------------------------------------------------------------------------------------- */
body{
    @include res('mobile'){background-color: green;}
}
.spot
{
    width: 100%;    /*블럭요소, 자식들에게 상속됨*/
    height: 100vh;    /*상속안됨*/
    position: relative;
    @include res('mobile'){
        width: 50vh;
    }


}
.spot .slide{}
.spot .slide figure
{
    height: 100vh;
}
.spot .slide figure img
{
    width: 100%;
    height: 100%;
    position: absolute; /*이미지 3장 겹치게*/
    left: 0; top: 0;    /*기준점좌표*/



}
.spot .slide .indi
{
    position: absolute;
    left: 0; bottom: 5%;    /*기준점좌표*/
    width: 100%;
    text-align: center;
}
.spot .slide .indi > button
{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: white;
    font-size: 0;
    border: 0;
    transition: 0.5s;


}

.spot .slide .indi > button:hover
{
    width: 60px;
}

.spot .txt
{
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    pointer-events: none;   /*인디케이터 작동하게 하기 위해서-
                            메인이미지(w100%-h100%)우선순위 삭제*/

}

.spot .txt > p
{
    font-size: 2rem;
    text-align: center;

    @include res('mobile'){
        font-size: 1rem;
    }
}

.spot .txt > b
{
    font-size: 4rem;
    padding: 2.5rem;

    @include res('mobile'){
        font-size: 2.4rem;
    }
}


/* active */
.spot{
    overflow: hidden;
}
.spot .txt > p {
    white-space: nowrap;
    animation: txt-2 10s infinite linear;
}
.spot .txt > p > span{
    white-space: nowrap;
    display: inline-block;
}


@keyframes txt-2{
    100%{transform: translateX(-100%);}
}

/* service-------------------------------------------------------------------------------------------------------- */
section
{
    padding: 100px 0;
    @include res('mobile'){
        padding: 48px 24px; //4의 배수, 상하는 좌우의 2배
    }

}

.service > div
{
    max-width: var(--pc-width);
    margin: 0 auto;
}
.service .service-items
{
    display: flex;
    justify-content: space-between;
    @include res('mobile'){
        flex-direction: column;
        align-items: center;
    }
}
/* contact us--------------------------------------------------------------------------------------------------------- */
.contact-form
{
    display: flex;
    justify-content: space-between;
    @include res('mobile'){
        flex-direction: column;
    }
} 
.contact-form > div
{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @include res('mobile'){
        width: 100%;
    }

} 
.contact-form > div > input{}
.contact-form > div > textarea
{
    height: 250px;
}

.contact-form > div > input, textarea
{   
    padding: 24px;
    border-radius: 10px;
    border: none;
    width: 100%;
    @include res('mobile'){
        margin-bottom: 8px;
    }
}

.contact-form > div > input::placeholder,
.contact-form > div > textarea::placeholder
{
    text-transform: uppercase;
    font-weight: 700;
    color: #cecece
}

.btn-send
{
    margin: 0 auto;
}














/*==============================================================================*/
.portfolio-items
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px 0;
    @include res('mobile'){
        flex-direction: column;

    }
}
.portfolio-items > figure
{
    width: 32%;
    @include res('mobile'){
        width: 100%;
    }

}

.portfolio-items > figure > p{}
.portfolio-items > figure > p > span > img{
    width: 100%;
}

.portfolio-items > figure > figcaption
{
    text-align: center;
    padding: 24px 0;
    width: 100%;
}
.portfolio-items > figure > figcaption > b
{
    font-size: 1.5rem;
    color: #333;
    text-transform: uppercase;
}
.portfolio-items > figure > figcaption > p{}

/* active */
.portfolio-items{
    perspective: 600px;
}

.portfolio-items > figure > p{
    position: relative;
    // max-width: 414px;
    // max-height: 270px;
    padding-top: 62%;  //사진이 absolute로 공중에 떠서 높이값을 주기 위해 padding-top사용

    transform-style: preserve-3d; /*z축 사용:부모한테씀(flex처럼)*/
    transition: 1s;
   
}
.portfolio-items > figure > p > img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
.portfolio-items > figure > p > img:nth-child(1){
}
.portfolio-items > figure > p > img:nth-child(2){
    transform: translateZ(-1px) rotateY(180deg);    /*2번째 이미지 뒤집기*/
}


.portfolio-items > figure:hover > p{
    animation: ani-3d-card 3s infinite;
}

@keyframes ani-3d-card{
    0%{}
    100%{
        transform: perspective(600px) rotateY(360deg);
    }
}

// -------------
.service-items{}
.service-items > figure
{
    width: 30%;
    text-align: center;
    padding: 20px 0;
}
.service-items > figure > p
{
    width: 130px; height: 130px;
    border-radius: 50%; 
    background-color: var(--color-point);
    margin: 0 auto;
    line-height: 130px;    
}
.service-items > figure > p > span
{
    width: 130px; height: 130px;
    border-radius: 50%; 
    background-color: var(--color-point);
    margin: 0 auto;
    font-size: 2rem;
    color: #333;
    line-height: 130px;    
}
.service-items > figure > p::after{}

.service-items > figure > figcaption{}
.service-items > figure > figcaption > b
{
    display: block;
    font-size: 2rem;
    color: #212529;
    margin: 24px  0 8px;
    text-transform: uppercase;
    @include res('mobile'){
        margin: 8px 0;
        font-size: 1rem;
    }
}
.service-items > figure > figcaption > p{}
